<div class="panel panel-default hero-panel">
    <div class="panel-body">

        <div class="media">
            <div class="pull-left" href="#">
                <img class="media-object hero-avatar" src="images/hero.png" ng-if="!user.isLandlord()">
                <img class="media-object hero-avatar" src="images/lord.jpg" ng-if="user.isLandlord()">
            </div>
            <div class="media-body">
                <h4 class="media-heading" ng-bind="hero.name"></h4>
                <p>
                    <em>Level: 12</em>
                </p>
            </div>
            <dl class='stats'>
                <dt>Total quests:</dt>
                <dd>3</dd>

                <dt>Reputation:</dt>
                <dd ng-bind="hero.reputation"></dd>

            </dl>
            <dl class='stats'>
                <dt>Total earnings:</dt>
                <dd>$100</dd>
            </dl>
        </div>

    </div>
</div>