<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Heroes of Benevolence</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Latest Quests
                    </div>
                    <div class="list-group quest-list">
                        <a class="list-group-item" ng-repeat="quest in quests" ui-sref="quest({id: quest.id})">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <img class="media-object quest-img" src="images/shed.jpg">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" ng-bind="quest.name">Quest</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium cumque
                                        debitis doloremque ducimus et iste, labore laboriosam libero minima necessitatibus,
                                        obcaecati placeat quam quidem quis quos rerum soluta temporibus.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-md-4">
        <div class="row" ng-if="user.isAuthenticated()">
            <div class="col-xs-12">
                <div hero-panel hero='user.getData()'></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Our Heroes
                    </div>
                    <div class="list-group hero-list">
                        <a class="list-group-item" ng-repeat="hero in heroes">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object hero-avatar" src="images/hero.png">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" ng-bind="hero.name">John Snow</h4>
                                    ...
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>