<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Login</h1>

            <form action="" name="loginForm" class="form" novalidate>
                <div class="form-group">
                    <label class="control-label" for="">Username</label>
                    <input type="text" ng-model="user.username" class="form-control input-lg" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="">Password</label>
                    <input type="password" ng-model="user.password" class="form-control input-lg" required/>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <button class="btn btn-lg btn-block btn-primary" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
