<div class="panel panel-default lord-panel">
    <div class="panel-body">

        <div class="media">
            <div class="pull-left" href="#">
                <img class="media-object lord-avatar" src="images/lord.jpg">
            </div>
            <div class="media-body">
                <h4 class="media-heading" ng-bind="lord.name">Lord</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum id recusandae tenetur.
                </p>
            </div>
            <dl class='stats'>
                <dt>Total quests:</dt>
                <dd>3</dd>

                <dt>Total spending</dt>
                <dd>$300</dd>

            </dl>
        </div>

    </div>
</div>