<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Create quest</h1>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="" name="questForm" class="form form-horizontal" novalidate>
                            <div class="form-group form-group-lg" ng-class="getFeedbackClass(questForm.name)">
                                <label class="control-label col-md-2">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input type="text" ng-model="quest.name" name="name" class="form-control input-lg" required/>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label class="control-label col-md-2" ng-class="getFeedbackClass(questForm.description)">
                                    Description
                                </label>
                                <div class="col-md-10">
                                    <textarea class="form-control input-lg" ng-model="quest.description" name="description" rows="10" required></textarea>
                                </div>
                            </div>
                            <div class="form-group form-group-lg" ng-class="getFeedbackClass(questForm.time)">
                                <label class="control-label col-md-2">
                                    Time
                                </label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="date" ng-model="quest.time" name="time" class="form-control input-lg" required/>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group form-group-lg" ng-class="getFeedbackClass(questForm.place)">
                                                <label class="control-label col-md-2">
                                                    Place
                                                </label>
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="quest.place" name="place" class="form-control input-lg" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-lg" ng-class="getFeedbackClass(questForm.reward)">
                                <label class="control-label col-md-2">
                                    Reward
                                </label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="input-group col-xs-6">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" ng-model="quest.reward" name="reward" class="form-control input-lg" required/>
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4 col-md-offset-4">
                                <button class="btn btn-lg btn-primary btn-block" ng-disabled="questForm.$invalid" ng-click="createQuest()">Proceed</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
