<div class="col-xs-12">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Payment</h1>

            <form action="" id="paymentForm">
                <div id="paymentDropin"></div>
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="questForm.$invalid">Create Quest</button>
                </div>
            </form>
        </div>
    </div>
</div>