<div class="panel panel-default quest">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <img src="images/quest.jpg" class="quest-main-img thumbnail"/>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="gold-amount">
                                <img src="images/gold.png">
                                <div class="amount">
                                    $ 50
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="respect-amount">
                                <img src="images/respect.png">
                                <div class="amount">
                                    25
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-7">
                <h1 class="quest-name" ng-bind="quest.name">Quest name</h1>
                <p class="quest-description" ng-bind="quest.description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor faucibus augue. Sed dapibus nibh
                    id tellus malesuada, quis adipiscing enim fermentum. Donec id metus leo. Sed imperdiet varius
                    dignissim. Nullam nisl mi, varius id malesuada sed, faucibus vitae urna. Sed rutrum ligula metus,
                    eget tempus mi malesuada ut. Phasellus nec justo ultricies, pharetra metus sed, congue diam. Proin
                    in sapien pellentesque, sollicitudin risus vitae, vulputate velit. Nunc odio tellus, dictum vitae
                    elit et, varius eleifend sapien. Vivamus rutrum egestas tempus. Quisque vulputate aliquet tempus.
                    Mauris gravida cursus diam a consectetur. Phasellus quis orci consequat, adipiscing lacus eu,
                    sollicitudin tellus. Donec urna justo, consequat in purus sit amet, malesuada aliquam mauris.
                </p>

                <div lord-panel lord="quest.owner"></div>
                <div class="row">
                    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                        <button class="btn btn-hg btn-block btn-primary quest-start" ng-click="startQuest()">Start the Quest</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>