<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Current Quests
        </div>
        <div class="list-group quest-list">
            <div class="list-group-item" ng-repeat="quest in quests" ng-class="{'has-success' : quest.confirmed || quest.status == 'closed'}">
                <div class="media" ng-hide="quest.donated">
                    <div class="pull-left" href="#">
                        <img class="media-object quest-img" src="images/shed.jpg">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" ng-bind="quest.name">Quest</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium cumque
                            debitis doloremque ducimus et iste, labore laboriosam libero minima necessitatibus,
                            obcaecati placeat quam quidem quis quos rerum soluta temporibus.</p>

                        <div ng-if="user.isLandlord() && quest.status == 'assigned'">
                            <button class="btn btn-success btn-block" ng-click="confirmQuest(quest); $event.stopPropagation();">Confirm</button>
                        </div>

                        <div ng-if="!user.isLandlord() && quest.status == 'closed'">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <select name="" id="" class="form-control" ng-options="charity.name for charity in charities" ng-model="charity">
                                        <option value="">Pick charity</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <button class="btn btn-block btn-primary" ng-click="donate(quest, charity)">Donate</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="quest.donated">
                    <div class="panel-body">
                        <h2>Thank You!</h2>
                        <h3>You've earned <span ng-bind="quest.reward"></span> points</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>