.quest-list
  .quest-img
    width: 100px

  .has-success
    background: $alert-success-bg
    color: $alert-success-text


#paymentForm
  #paymentDropin
    min-height: 200px
  button
    margin-top: 20px

.quest
  .quest-main-img
    width: 100%
    margin-bottom: 20px

  .quest-name
    margin-top: 0

  .quest-description
    text-align: justify

  .gold-amount,
  .respect-amount
    padding: 5px
    img
      float: left
      width: 80px
    .amount
      text-align: center
      font-family: 'HeroeFont'
      font-size: 2.5em
      font-weight: bold
      line-height: 80px


  .respect-amount
    img
      width: 60px
      margin-top: 5px
