$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

@import 'sass-bootstrap/lib/bootstrap'

@import '_typography'
@import '_button'
@import '_panel'
@import '_hero'
@import '_quest'
@import '_lordPanel'
@import '_heroPanel'
@import '_form'


html
  height: 100%

body
  background-image: url('../images/bg.jpg')
  background-size: cover
  background-repeat: no-repeat




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
  padding-left: 15px
  padding-right: 15px

.main-navbar
  font-family: 'HeroeFont'

/* Main marketing message and sign up button */
.jumbotron
  text-align: center
  border-bottom: 1px solid #e5e5e5


/* Supporting marketing content */
.marketing
  margin: 40px 0

.marketing p + h4
  margin-top: 28px


