<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heroes of Benevolence</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body ng-app="HoB">

<nav class="main-navbar navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" ui-sref="home">Heroes of Benevolence</a>

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="user.isAuthenticated()"><a ui-sref="quests">Quests</a></li>
            <li><a ui-sref="new-quest" ng-if="user.isLandlord()">Create quest</a></li>
            <li ng-if="!user.isAuthenticated()"><a ui-sref="login">Login</a></li>
            <li ng-if="user.isAuthenticated()"><a ui-sref="logout">Logout</a></li>
        </ul>

    </div>
</nav>

<!-- Add your site or application content here -->
<div class="container" ui-view></div>



<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/services/Config.js"></script>
<script type="text/javascript" src="scripts/services/User.js"></script>

<script src="scripts/controllers/HomeCtrl.js"></script>
<script src="scripts/controllers/QuestCtrl.js"></script>
<script src="scripts/controllers/QuestsCtrl.js"></script>
<script src="scripts/controllers/NewQuestCtrl.js"></script>
<script src="scripts/controllers/LoginCtrl.js"></script>
<script src="scripts/controllers/LogoutCtrl.js"></script>
<script src="scripts/controllers/PaymentCtrl.js"></script>
<script src="scripts/directives/lordPanel.js"></script>
<script src="scripts/directives/heroPanel.js"></script>
<script src="scripts/directives/input.js"></script>
<!-- endbuild -->
</body>
</html>
